/*Import*/

@import url(./styleGlobal.css);

main {
    display: grid;
    grid-template-areas:
    "form texto"
    "form foto";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
    margin-top: 9vh;
}

main form {
    grid-area: form;
    font-family: var(--tipo-textos);
    font-size: 2em;
}

main div {
    grid-area: texto;
    font-family: var(--tipo-titulos);
    font-size: 2.2em;
    text-align: right;
}

main picture {
    grid-area: foto;
    text-align: right;  
}

main form {
    display: flex;
    flex-direction: column;
    gap: 1vh;

}

main form input, main form span, main form select, main form textarea, main form button {
    font-family: var(--tipo-textos);
    font-size: 0.7em;
    background-color: #dddddd;
    padding: 3%;
}

main form textarea {
    min-height: 30vh;
}

main form button {
    cursor: grab;
}

/* @media */

@media screen and (max-width: 600px) {
    main {    
        grid-template-areas: 
        "form"
        "texto"
        "foto";
        grid-template-columns: 1fr;
        max-width: 95hw;
    }
}