/*Import*/

@import url(./styleGlobal.css);

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
    justify-content: center;
    margin-top: 9vh;
}

main div h1 {
    font-size: 3.4em;
    font-family: var(--tipo-titulos);
}

main div p {
    font-family: var(--tipo-titulos);
    font-size: 2.2em;
}

.textoDerecha {
    text-align: right;
}   

.textoAbajo {
    align-self: end;
}

.lineaAbajo {
    border-bottom: 2px solid black;
}

.lineaArriba {
    border-top: 2px solid black;
}

.textoGradiente {
    background: linear-gradient(yellow,red);
    -webkit-background-clip: text;
    color: transparent;  
  }

.grayscale {
    transition: -webkit-filter 0.5s ease-in-out;
}

.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(100%);
    }

@media screen and (max-width: 720px) {
    main {    
        grid-template-columns: 1fr;
        text-align: center;
    }  
    
    .textoDerecha {
        text-align: center;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    main{
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1vh;
    }
}