/*Import*/

@import url(./styleGlobal.css);

main ul {
    display: flex;
    justify-content: space-around;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

main ul li {
    list-style-type: none;
    display: inline;
    font-family: var(--tipo-textos);
    font-size: 2.2em;
    margin-left: 0%;
    padding-left: 4vw;
}

main article h1 {
    font-family: var(--tipo-titulos);
    text-align: left;
    font-size: 2.8em;
}

.carousel-item img {
    margin-left: auto;
    margin-right: auto;
}

div h1 {
    font-family: var(--tipo-titulos);
    text-align: center;
    font-size: 2.8em;
}

@media screen and (max-width: 720px) {
    main {    
        grid-template-columns: 1fr;
    }

    main ul {
        justify-content: space-between;
    }

    main ul li {
        font-size: 2em;
    }

    img {
        width: 100%;
    }
}