/*Import*/

@import url(./styleGlobal.css);

main {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-column-gap: 2%;
    justify-content: center;
    margin-top: 9vh;
}

main div h1 {
    font-size: 3.4em;
    font-family: var(--tipo-titulos);
}

main div p {
    font-family: var(--tipo-titulos);
    font-size: 2.2em;
}

.textoDerecha {
    text-align: right;
}   

.lineaAbajo {
    border-bottom: 2px solid black;
}

.texto {
    font-family: var(--tipo-textos);
    font-size: 1.6em;
    text-align: justify;
}

/* @media */

@media screen and (max-width: 720px) {
    main {    
        grid-template-columns: 1fr;
    }   
}