
/*Resets*/

*,
*::before,
*::after {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    padding-inline-end: 0px;
    margin-block-end: 0px;
}

/*Body*/

body {
    font-family: map-get($fuentes, tipo-textos);
    font-size: 62.5%;
    padding: 5px 10% 20px 10%;
    min-height: 100vh;

    a{
        text-decoration: none;
        color: map-get($colores, negro);

        &:visited{
            color: map-get($colores, negro);
        }
    }
}

@media screen and (max-width: 720px) {
    body {
        width: 100vw;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    main {
        padding-bottom: 3vh;
    }
}